.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/*header*/
.header {
    grid-area: header;
    padding: 15px;
    background-color: #367c2b;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 700px) 1fr;
}

.headerLogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fdda01;
    grid-column: 2 / 3;
}

.headerMenu {
    grid-column: 3 / 4;
}

.headerList {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    align-items: center;
}

.headerList li{
    list-style-type: none;

}

.headerLink {
    color: #fdda01;
    font-size: 18px;
    text-decoration: none;
}

.headerBurger {

}

/**/

/*main*/
.main {
    grid-area: main;
    padding: 30px 15px;
}

.sidebar {

}

.content {

}

.sideMenu {

}

.sidebarMenu {

}

.sidebarLink {

}

.contentTitle {

}

.contentGallery {

}

.gallery {

}

.galleryTitle {

}

.galleryItems {

}

.galleryItem {

}

.contentProducts {

}

.products {

}

.productsTitle {

}

.productsItems {

}

.productsItem {

}

.productsImage {

}

.productsName {

}

.productsButton {

}


/*footer*/
.footer {
    grid-area: footer;
    background-color: #fdda01;
}

.footerCopy {

}

.footerText {

}


/*
.gridContainer {
    width: 90vw;
    height: 90vh;
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.item {
    text-align: center;
    border: 2px dashed gray;
    padding: 30px;
}*/


/*.gridContainer {
    width: 90vw;
    height: 90vh;
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header header"
                        "side content";
   !* grid-template:
        [start] "header header" 100px [row2]
        [row2] "side content" 1fr [row-end] / 150px 1fr;*!
}


.header, .side, .content{
    padding: 30px;
    border: 2px dashed gray;
    margin: 0px 0px 15px 0px;
}

.header {
    grid-area: header;
}

.side {
    grid-area: side;
}

.content {
    grid-area: content;
}*/



